<div class="container my-5">
	<div class="row">
	  <div class="col-md-2 text-left" ></div>
		<div class="col-md-2 text-center">
			<h4 style="background-color: #cd5c5c; color: white;">マイページ</h4>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-2">
			<h3><strong>登録情報</strong></h3>
		</div>
		<div class="col-md-4">
			<%= link_to "編集する", edit_public_customer_path(@customer), class: "btn btn-success" %>
		</div>
	</div><br>

	<div class="row">
	  <div class="col-md-5">
	    <table class="table table-bordered">
	    	 <tr>
		    	<td class="table-secondary">氏名</td>
		    	<td>
		    		<%= @customer.family_name %>
		    		<%= @customer.first_name %>
		    	</td>
	      </tr>

	      <tr>
		    	<td class="table-secondary">カナ</td>
		    	<td>
		    		<%= @customer.family_name_kana %>
		    		<%= @customer.first_name_kana %>
	    		</td>
	      </tr>

	      <tr>
		    	<td class="table-secondary">郵便番号</td>
		    	<td><%= @customer.postal_code %></td>
	      </tr>

	      <tr>
		    	<td class="table-secondary">住所</td>
		    	<td><%= @customer.address %></td>
	      </tr>

	      <tr>
		    	<td class="table-secondary">電話番号</td>
		    	<td><%= @customer.phone_number %></td>
	      </tr>

	      <tr>
	    		<td class="table-secondary">メールアドレス</td>
	        <td><%= @customer.email %></td>
	      </tr>
	    </table>
	 </div>
	</div><br>

	<div class="row">
		<div class="col-md-2">
		  <h3><strong>配送先</strong></h3>
		</div>
		<div class="col-md-4">
		 	<%= link_to "一覧を見る", public_addresses_path, class: "btn btn-primary" %>
		</div>
  </div><br>

  <div class="row">
  	<div class="col-md-2">
  		<h3><strong>注文履歴</strong></h3>
		</div>
	  <div class="col-md-4">
		  <%= link_to "一覧を見る", public_orders_path, class: "btn btn-primary" %>
		</div>
  </div>
</div>
