<div class="container">
  　<div class="row">
   
     <div class="col-md-4 text-center" style="margin: 30px 0 35px 0; font-size: 40px;">
      <h3 style="background-color: #dddddd"><%= @customer.family_name %><%= @customer.first_name %>さんの会員詳細</h3>
     </div>
     <div class="col-md-4"></div>
   </div>

   <div class="row" style="font-size: 17px;">
     <div class="col-md-2 text-left">
      <p>会員ID</p>
     </div>
     <div class="col-md-1 text-left"></div>
      <p><%= @customer.id %></p>
   </div>
  
   <div class="row" style="font-size: 17px;">
     <div class="col-md-2 text-left">
      <p>氏名</p>
     </div>
     <div class="col-md-1 text-left"></div>
      <p><%= @customer.family_name %>&nbsp;<%= @customer.first_name %></p>
   </div>    
          
   <div class="row" style="font-size: 17px;">
     <div class="col-md-2 text-left">
      <p>フリガナ</p>
     </div>
     <div class="col-md-1 text-left"></div>
      <p><%= @customer.family_name_kana %>&nbsp;<%= @customer.first_name_kana %></p>
   </div>  
          
   <div class="row" style="font-size: 17px;">
     <div class="col-md-2 text-left">
      <p>郵便番号</p>
    </div>
     <div class="col-md-1 text-left"></div>
      <p><%= @customer.postal_code %></p>
   </div>
  
   <div class="row" style="font-size: 17px;">
     <div class="col-md-2 text-left">
      <p>住所</p>
     </div>
      <div class="col-md-1 text-left"></div>
      <p><%= @customer.address %></p>
   </div>  
        
   <div class="row" style="font-size: 17px;">
     <div class="col-md-2 text-left">
      <p>電話番号</p>
     </div>
     <div class="col-md-1 text-left"></div>
      <p><%= @customer.phone_number %></p>
   </div>
  
   <div class="row" style="font-size: 17px;">
     <div class="col-md-2 text-left">
      <p>メールアドレス</p>
     </div>
     <div class="col-md-1 text-left"></div>
      <p><%= @customer.email %></p>
   </div>    
         
   <div class="row" style="font-size: 17px;">
     <div class="col-md-2 text-left">
      <p>会員ステータス</p>
     </div>
     <div class="col-md-1 text-left"></div>
      <p><% if !@customer.is_deleted %>
            有効
         <% else %>
            退会
         <% end %></p>
   </div>       
  
      <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success" %>
      <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary" %>
  
</div>
