<div class="container">
  <div class="row">
    <div class="col-md-2 text-center" style="margin: 30px 0 35px 0;">
      <h5 style="background-color: #f5f5f5">注文履歴詳細</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-left">
      <p class="font-weight-bold">購入者</p>
    </div>
    <div class="col-md-8 text-left">
      <%= @order.customer.family_name %><%= @order.customer.first_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-left">
      <p class="font-weight-bold">注文日</p>
    </div>
    <div class="col-md-8 text-left">
      <%= @order.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-left">
      <p class="font-weight-bold">発送先</p>
    </div>
    <div class="col-md-8 text-left">
      <%= @order.postal_code %>
      <%= @order.address %></br>
      <%= @order.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-left">
      <p class="font-weight-bold">支払い方法</p>
    </div>
    <div class="col-md-8 text-left">
      <%= @order.payment_method %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-left">
      <p class="font-weight-bold">注文ステータス</p>
    </div>
    <%= form_with model: @order, url: admin_order_path, local:true do |f| %>
    <div class="row">
      <div class="col-md-8 text-center">
        <%= f.select :status, Order.statuses.keys %>
      </div>
      <div class="col-md-4 text-left">
        <%= f.submit "更新", class: "btn btn-success btn-sm" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div style="margin: 10px 0 10px 0"></div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table class="table table-borderless">
        <thead style="background-color: #f5f5f5">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @item_total = 0 %>
          <% @order_sweets.each do |order_sweet| %>
          <tr>
            <td><%= order_sweet.sweet.name %></td>
            <td><%= tax_price(order_sweet.sweet.unit_price).to_s(:delimited) %></td>
            <td><%= order_sweet.amount %></td>
            <td><%= sub_total(order_sweet).to_s(:delimited) %></td>
            <% @item_total =+ sub_total(order_sweet) %>
            <%= form_with model: order_sweet, url: admin_order_sweet_path(order_sweet.id), method: :patch, local:true do |f| %>
              <td><%= f.select :making_status, OrderSweet.making_statuses.keys %></td>
              <td><%= f.submit "更新" ,class: "btn btn-success btn-sm" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-7 text-left">
          <p class="font-weight-bold">商品合計</p>
        </div>
        <div class="col-md-5 text-right">
          <% @item_total = total_price(@order_sweets) - @order.shipping %>
          <%= @item_total %>円
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 text-left">
          <p class="font-weight-bold">送料</p>
        </div>
        <div class="col-md-5 text-right">
          <%= @order.shipping %>円
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 text-left">
          <p class="font-weight-bold">請求金額合計</p>
        </div>
        <div class="col-md-5 text-right">
          <%= total_price(@order_sweets).to_s(:delimited) %> 円
        </div>
      </div>
    </div>
  </div>
</div>
